# Visual Studio build outputs
.vs/
bin/
obj/

# Visual Studio Code settings
.vscode/

# Compiled binaries
*.dll
*.pdb

# Mod duplicate files
BTX_ExpansionPack/misc/overrides/*
BTX_ExpansionPack/README.md