# Visual Studio build outputs
.vs/
bin/
obj/

# Visual Studio Code settings
.vscode/

# Compiled binaries
*.dll
*.pdb

# Mod excluded files
BTX_ExpansionPack/misc/scripts/
BTX_ExpansionPack/BTX_ExpansionPack.xml
