# Visual Studio build outputs
.vs/
bin/
obj/

# Visual Studio Code settings
.vscode/

# Compiled binaries
*.dll
*.pdb

# External References
BTX_ExpansionPackDll/References/

# Mod duplicate files
BTX_ExpansionPack/misc/overrides/
BTX_ExpansionPack/README.md
BTX_ExpansionPack/BTX_ExpansionPack.xml
